
:root {
  --banana-yellow: #fb8c00;
  --color-black: #212121;
  --off-white: #F3F4F6;
  --off-orange: #ffcc80;
}

body {
  margin: 0;
  background-image: url(/image/minions-gif.gif);

}

/* nav */

.navigation {
  background-color: var(--banana-yellow);
  color: var(--color-black);
  font-size: large;
  padding: 0.1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  opacity: 85%;
}


/* container */

.container {
  max-width: 100%;
  width: 600px;
  margin: auto;
  text-align: center;
  opacity: 90%;
}

/* input textarea, button and output div */

.container .text-box {
  display: block;
  height: 128px;
  max-width: 100%;
  width: 512px;
  margin: 1rem;
  text-align: center;
  padding: 16px;
  border: 1px solid var(--color-black);
  border-radius: 1rem;
  font-size: large;
  background-color: var(--off-orange);
}
 .container #btn-translate {
  background-color: var(--banana-yellow);
  color: var(--off-white);
  border: 2px solid var(--banana-yellow);
  font-weight: bold;
  font-size: large;
  border-radius: 1rem;
  padding: 1rem;
  margin:  auto;
 
}
